[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
seaborn = "*"

[dev-packages]
libtk8.6-dev


[requires]
python_version = "3.9"
